.item {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    border: 1px transparent;
    border-radius: 25px;
    padding: 15px 0;
    background-color: white;
    cursor: pointer;
  }

  .card {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .del-title {
    font-size: medium;
    font-weight: bold;
  }

  .del-indicator {
    font-size: small;
    color: #aca9a9;
  }

  .price {
    font-size: medium;
    font-weight: bold;
    padding: 10px;
    margin-left: 20px;
  }
  